@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    --pst-font-family-base: "Public Sans", var(--pst-font-family-base-system);
    --pst-font-family-heading: "Public Sans", var(--pst-font-family-base-system);
    --pst-font-family-monospace: "JetBrains Mono", var(--pst-font-family-monospace-system);
}
